<h1>Add food from this list</h1>
<div class='card p-2 w-25'>
  <%= form_with model: @recipe_food, url: recipe_recipe_foods_path,   class: ' d-flex flex-column '  do |form| %>
    <%= form.select :food_id, @foods.map { |food| [food.name, food.id] } , class:'p-2 mb-2' %>
    <%= form.submit 'add food', class:'btn btn-secondary mt-2'%>
  <% end %>
</div>


  

<%= link_to "<-- Go Back ", :back, class:'btn btn-secondary w-25 mt-2' %>